<body>
  <header>
    <a class="navbar-brand" href="#" style="color: rgb(128, 20, 110); font-family: fantasy;  font-size: large;">Quinnox Airline </a>

   <nav class="navbar navbar-expand-lg navbar-light bg-light">


      <ul class="nav_links">
        <li>
          <a class="nav-link" href="#" routerLink="home" style="color: rgb(128, 20, 110); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a class="nav-link" routerLink="aboutus" style="color: rgb(128, 20, 110); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">ABOUT US</a>
        </li>
        <li>
          <a class="nav-link" routerLink="flightschedule" style="color: rgb(128, 20, 110); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">FLIGHT SCHEDULE</a>
        </li>
        <li>
          <a class="nav-link" routerLink="login" style="color: rgb(128, 20, 110); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">LOGIN</a>
        </li>

        <li>
          <a class="nav-link" routerLink="contactus" style="color: rgb(128, 20, 110); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">CONTACT US</a>
        </li>



      </ul>
    </nav>
    <a class="cta" ><button  [routerLink] ="['/admin']">Admin </button></a>



  </header>



  </body>






