<div class="container1">

  <div class="box1">
    <div class="imgBox1">
      <img src="../../assets/shutterstock_540250492-1200x627.jpg">
         <!-- <div class="bottom-right" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; color: black; ">Start Your Journey Now Book Flighs
        <button class="float-right"  [routerLink] ="['/booktickets']">Book Tickets</button>

      </div> -->
    </div>
  </div>
</div>

<!-- flexx -->


<body>
  <div class="container">

    <div class="box">
      <div class="imgBox">
        <img src="../../assets/1200px-Goa_beautiful_beach.jpg">
      </div>
      <div class="details">
        <div class="content">
        <h2>Book Now</h2>
        <button class="float-right" [routerLink] ="['/book-d']">Book Tickets</button>
        <p>About Goa</p>
      </div>
      </div>
    </div>

    <div class="box">
      <div class="imgBox">
        <img src="../../assets/800px-rajastn.jpg">
      </div>
      <div class="details">
        <div class="content">
        <h2>Book Now</h2>
        <button class="float-right" [routerLink] ="['/book-d']">Book Tickets</button>
        <p>About Rajasthan</p>
      </div>
      </div>
    </div>


    <div class="box">
      <div class="imgBox">
        <img src="../../assets/800px-Boat_Beauty_W.jpg">
      </div>
      <div class="details">
        <div class="content">
        <h2>Book Now</h2>
        <button class="float-right" [routerLink] ="['/book-d']">Book Tickets</button>
        <p>About Kerla</p>
      </div>
      </div>
    </div>



    <div class="box">
      <div class="imgBox">
        <img src="../../assets/things-do-and-see-in-gulmarg-kashmir.png">
      </div>
      <div class="details">
        <div class="content">
        <h2>Book Now</h2>
        <button class="float-right" [routerLink] ="['/book-d']">Book Tickets</button>
        <p>About Kashmir</p>
      </div>
      </div>
    </div>




    <div class="box">
      <div class="imgBox">
        <img src="../../assets/524344-houseboat-kerala.jpg">
     </div>
      <div class="details">
        <div class="content">
        <h2>Book Now</h2>
        <button class="float-right" [routerLink] ="['/book-d']">Book Tickets</button>
        <p>About Goa</p>
      </div>
      </div>
    </div>




    <div class="box">
      <div class="imgBox">
        <img src="../../assets/1200px-Goa_beautiful_beach.jpg">
    </div>
      <div class="details">
        <div class="content">
        <h2>Book Now</h2>
        <button class="float-right" [routerLink] ="['/book-d']">Book Tickets</button>
        <p>About Goa</p>
      </div>
      </div>


    </div>


  </div>


  </body>



  <footer>
    <p>
    <a href="mailto:tanujanalawade@gmail.com">airline@quinnox.com</a></p>
    Copyright 2020 Quinnox Airways. All rights reserved
  </footer>

