<!-- <p>login works!</p> -->
<div>
  <br>
<div class="container" style="max-width: 600px; background-color: aliceblue;">
<form #loginform= "ngForm" (ngSubmit)= "loginUser() " >

  <small class="text-danger">{{msg}}</small>
  <div class="form-group">
    <label for="emailId">Email Id</label>
    <input type="email" name="emailId"  [(ngModel)] = "user.emailId" id="emailId" placeholder="Enter EmailId eg:abc@xyz.com" #emailId='ngModel'
      ngModel class="form-control"  required email pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,}">
    <div *ngIf='emailId.touched && emailId.invalid'>
      <div class="text-danger" *ngIf='emailId.errors.required'>
        *This field is mandatory
      </div>
      <div class="text-danger" *ngIf='emailId.errors.pattern'>
        Please enter a Valid Email Address
      </div>
    </div>
  </div>


  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" [(ngModel)] = "user.password" id="password" placeholder="Enter password" #password='ngModel' ngModel
      class="form-control" required minlength="6" pattern="^[A-Za-z\d$@$!%*#?&]{6,}">
    <div *ngIf='password.touched && password.invalid'>
      <div class="text-danger" *ngIf='password.errors.required'>*This Field is Mandatory</div>
      <div *ngIf=password.errors.pattern>
        <div class="text-danger">Password should be atleast 6 characters long</div>
      </div>
    </div>
  </div>


  <!-- <div class="form-group">
    <label for="dob">Date Of Birth</label>
    <input type="date" name="dob" [(ngModel)] = "user.password" id="dob" placeholder="Enter password" #password='ngModel' ngModel
      class="form-control" required minlength="6" pattern="^[A-Za-z\d$@$!%*#?&]{6,}">
    <div *ngIf='password.touched && password.invalid'>
      <div class="text-danger" *ngIf='password.errors.required'>*This Field is Mandatory</div>
      <div *ngIf=password.errors.pattern>
        <div class="text-danger">Password should be atleast 6 characters long</div>
      </div>
    </div>
  </div> -->


  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button [disabled]="loginform.form.invalid" type="submit" class="btn btn-info">Login</button>
</form>
<!-- <small class="float-right" (click)="gotoregistration()">New User ? Click here Register </small> -->


<small class="float-right" [routerLink] ="['/register']">New User ? Click here Register</small>
</div>

</div>
