button{
  background-color: white;
  color: black;
}

.button:hover {
  background-color:white;
  color: white;
}

.card {

  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  width: 23rem;


}
h2{
  color: white;
}

i{
   color: white;
  align-content: center;
  align-self: center;
  align-items: center;
  font-size: 150px;
  }

.image{
  /* width: 92vh;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQpgjRkQ1VNEYTAgrWRaPbsLWQjnCrMvniqV6Yr-677VCpqXRni&usqp=CAU'); */

  height: 43.3em;
  background-position:50% 50%;
  background-size: cover; width: auto;
  padding-top: 0%;
  background-image:url('./../../assets/shutterstock_540250492-1200x627.jpg');
  background-attachment: scroll;
}
