<body>
  <div class="about-section">
      <div class="inner-container">
          <h1>About Us</h1>
          <p class="text">
            Air travel is indeed the fastest way to cover long distances. In recent times it has become a lot cheaper and offers travelers a wide choice. In the airline industry there are two types of travelers: the business traveler and the leisure traveler. Business travelers are usually flexible on the price of the tickets, but not on the dates. Leisure travelers on the other hand are not flexible on the price, but are on the dates. Most airlines try to strike a balance between these two types of travellers and offer different types of schemes targeting one or the other.


          </p>
          <div class="skills">
              <span>Airline Design</span>
              <span>Cabin Crew</span>
              <span>Carrers</span>
          </div>
      </div>
  </div>
</body>














